@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@300;400;600&family=Silkscreen&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@300;400;600&family=Silkscreen&family=Varela+Round&display=swap');

:root{
    --font1: 'Dancing Script', cursive;
    --font2: 'Varela Round', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

nav{
    background-color: black;
    color: white;
    height: 50px;
    width: 100vw;
    font-family: var(--font1);
}

nav img{
    height: 35px;
    padding: 0 10px 0 0;
}

nav ul{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li div{
    display: flex;
    padding: 0 10px;
    gap: 30px;
}

.logoName{
    font-family: var(--font2);
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    padding: 0 30px 0 0;
}
